<div class='event'>
  <div class='content'>
    <div class='summary'>
      <strong class='username' ><%= message.user.username.capitalize %></strong>: </strong> <%=message.body%>
    </div>
  </div>
</div>