<h3 class='ui center aligned medium icon header'>
  <i class='circular teal inverted coffee icon'></i>
  Say Something
</h3>

<div class='ui two column grid'>
  <div class='twelve wide column'>
    <div class='ui fluid raised card chatbox'>
      <div class='content'>
        <div class='ui feed'>
          <h4 class='ui header'>Chat activity</h4>
          <%= render @messages%>
        </div>
      </div>
      <div class='extra content'>
        <form class='ui reply form'>
          <div class='field'>
            <div class='ui teal fluid input icon'>
              <input type='text' class='' placeholder='Say something...'>
              <i class='icon inverted teal edit bordered'></i>
            </div>
          </div>
          
        </form>
      </div>

    </div>
  </div>

 <div class='four wide column'>
    <%= render 'sidebar'%>
  </div>

</div>